{% extends 'base.html' %}

{% block title %}
    <title>Страница для загрузки документов</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">{{student.first_name}} {{student.last_name}}</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Имя Документа</th>
            <th>Документы</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Заяевление</td>
            <td><a href="{{student.zayavlenye.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>Копия свидетельства о рождении:</td>
            <td><a href="{{student.copy_svid_rozh.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>Копия вкладыша к свидетельству о рождении с указанием ИИН:</td>
            <td><a href="{{student.copy_vkl_roj_IIN.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>Копия удостоверения личности учащегося (если имеется):</td>
            <td><a href="{{student.copy_udos_lich.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>Копия удостоверения личности законных представителей учащегося:</td>
            <td><a href="{{student.copy_udos_lich_rod.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>Данные по адресу регистрации учащегося и его законных представителей с портала электронного правительства egov.kz (скриншот)</td>
            <td><a href="{{student.adress_reg_vseh.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>- переезда в данные места по причине смены работы с обязательным предоставлением подтверждающих документов: копию приказа о принятии на работу, справку с места работы; </td>
            <td><a href="{{stuent.copy_prikaz_rab.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>- переезда семьи в данные места по иным семейным обстоятельствам с обязательным предоставлением подтверждающих документов: данные с портала электронного правительства egov.kz (скриншот) или справка акима поселка, села, сельского округа с указанием фактического места жительства учащегося и его законных представителей; </td>
            <td><a href="{{student.sprv_akima_or_egov.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>4) справку с места работы с указанием заработной платы законных представителей учащегося или справку местного исполнительного органа региона, населенного пункта о регистрации законного представителя в качестве безработного, выданную в установленном законодательством порядке; </td>
            <td><a href="{{student.sprv_rab_zrpl_or_mest_ispol_org.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>5) информацию о поступлении и движении средств вкладчика единого накопительного пенсионного фонда, выданную в установленном законодательстве порядке, за последние 6 месяцев; </td>
            <td><a href="{{student.inform_gnpf.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>6) копии свидетельства о рождении других несовершеннолетних детей, справку с места учебы при очной форме обучения для совершеннолетних детей, в случае если учащийся из многодетной семьи; </td>
            <td><a href="{{student.copy_svd_rozh_mnodet.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>7) справку об инвалидности по установленной законодательством форме, если учащийся или законные представители учащегося являются инвалидами I, II и III группы; </td>
            <td><a href="{{student.sprv_invd.url}}">Загрузить</a></td>
        </tr>
         <tr>
            <td>8) справку, подтверждающую принадлежность заявителя и его семьи к получателям государственной адресной социальной помощи, предоставляемой местными исполнительными органами, выданную в установленном законодательством порядке - для малообеспеченных граждан;</td>
            <td><a href="{{student.sprv_asp.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>9) справку, подтверждающую постановку на учет заявителя и его семьи в качестве неблагополучной семьи, предоставляемую органами внутренних дел, местными исполнительными органами (в случае наличия). </td>
            <td><a href="{{student.sprv_neblag_semya.url}}">Загрузить</a></td>
        </tr>
        <tr>
            <td>10) копию документов, подтверждающих отсутствие одного из родителей учащегося, в случае если учащийся из неполной семьи (копии свидетельства о смерти, о расторжении брака, форма № 4). </td>
            <td><a href="{{student.copy_doc_nepol_semya.url}}">Загрузить</a></td>
        </tr>


    </table>
</div>
{% endblock %}