{% extends 'base.html' %}

{% block title %}
    <title>Загрузка документов</title>
{% endblock %}

{% block content %}
    <div class="container  form-group">
    <h2 class="text-center box">Условия и порядок предоставления места в общежитии</h2>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <p class="justify-text">
            18.	Заявление законного представителя учащегося, претендующего на место в общежитии, предоставляется в письменном виде на имя директора Интеллектуальной школы по форме согласно:
приложению 1 к настоящим Правилам, если учащийся относится к категориям, указанным в подпунктах 1), 2), 3), пункта 21 или пункта 22 настоящих Правил;
приложению 2 к настоящим Правилам, если учащийся относится к категориям, указанным в подпунктах 4),5) пункта 21 настоящих Правил.
        </p>
        <div class="box-border">
            <p>
            <label>Имя:</label>
            {{form.first_name}}
        </p>
         <p>
            <label>Фамилия:</label>
            {{form.last_name}}
        </p>
         <p>
            <label>Выберите класс:</label>
            {{form.category}}
        </p>
         <p>
            <label>Выберите область:</label>
            {{form.oblast}}
        </p>
         <p>
            <label>Пол:</label>
            {{form.gender}}
        </p>
        </div>
        <div class="box box-border">
            <p>
            <label>Заявление:</label>
            {{form.zayavlenye}}
        </p>
        <p>1)	копию свидетельства о рождении, копию вкладыша к свидетельству о рождении с указанием ИИН и копию удостоверения личности учащегося;
            <label>Копия свидетельства о рождении:</label>
            {{form.copy_svid_rozh}}
        </p>
        <p>
            <label>Копия вкладыша к свидетельству о рождении с указанием ИИН:</label>
            {{form.copy_vkl_roj_IIN}}
        </p>
        <p>
            <label>Копия удостоверения личности учащегося (если имеется):</label>
            {{form.copy_udos_lich}}
        </p>
        <p>
            2)	копию удостоверения личности законных представителей учащегося
            <label>Копия удостоверения личности законных представителей учащегося:</label>
            {{form.copy_udos_lich_rod}}
        </p>
        <p>3)	Данные по адресу регистрации учащегося и его законных представителей с портала электронного правительства egov.kz (скриншот). Срок регистрации по данному адресу должен быть не менее 1 (одного) последнего года на дату подачи заявления. Данное требование распространяется на учащегося и его законных представителей, проживающих в других городах и селах, за исключением случаев:
            <label></label>
            {{form.adress_reg_vseh}}
        </p>
        </div>
        <div class="box box-border">
        <p>-	переезда в данные места по причине смены работы с обязательным предоставлением подтверждающих документов: копию приказа о принятии на работу, справку с места работы;
            <label></label>
            {{form.copy_prikaz_rab}}
        </p>
        <p>-	переезда семьи в данные места по иным семейным обстоятельствам с обязательным предоставлением подтверждающих документов: данные с портала электронного правительства egov.kz (скриншот) или справка акима поселка, села, сельского округа с указанием фактического места жительства учащегося и его законных представителей;
            <label></label>
            {{form.sprv_akima_or_egov}}
        </p>
        </div>
        <div class="box box-border">
        <p>4)	справку с места работы с указанием заработной платы законных представителей учащегося или справку местного исполнительного органа региона, населенного пункта о регистрации законного представителя в качестве безработного, выданную в установленном законодательством порядке;
            <label></label>
            {{form.sprv_rab_zrpl_or_mest_ispol_org}}
        </p>
        <p>5)	информацию о поступлении и движении средств вкладчика единого накопительного пенсионного фонда, выданную в установленном законодательстве порядке, за последние 6 месяцев;
            <label></label>
            {{form.inform_gnpf}}
        </p>

        <p>6)	копии свидетельства о рождении других несовершеннолетних детей, справку с места учебы при очной форме обучения для совершеннолетних детей, в случае если учащийся из многодетной семьи;
            <label></label>
            {{form.copy_svd_rozh_mnodet}}
        </p>
        </div>
        <div class="box box-border">
        <p>7)	справку об инвалидности по установленной законодательством форме, если учащийся или законные представители учащегося являются инвалидами I, II и III группы;
            <label></label>
            {{form.sprv_invd}}
        </p>
        <p>8)	справку, подтверждающую принадлежность заявителя и его семьи к получателям государственной адресной социальной помощи, предоставляемой местными исполнительными органами, выданную в установленном законодательством порядке - для малообеспеченных граждан;
            <label></label>
            {{form.sprv_asp}}
        </p>
        <p>9)	справку, подтверждающую постановку на учет заявителя и его семьи в качестве неблагополучной семьи, предоставляемую органами внутренних дел, местными исполнительными органами (в случае наличия).
            <label></label>
            {{form.sprv_neblag_semya}}
        </p>
        <p>10)	копию документов, подтверждающих отсутствие одного из родителей учащегося, в случае если учащийся из неполной семьи (копии свидетельства о смерти, о расторжении брака, форма № 4).
            <label></label>
            {{form.copy_doc_nepol_semya}}
        </p>
        </div>

        <p>

        </p>


        <button type="submit" class="btn btn-success">Загрузить</button>
    </form>
</div>


{% endblock %}